.dns {
    max-width: 500px;

    &-title {
        font-size: 1.6rem;
        color: var(--gray-base);
    }

    &-desc {
        margin: 5px 20px 20px 0;
        font-size: 1.3rem;
        line-height: 1.2;
        color: var(--gray88);
    }
}
