.authentication {
    padding: 20px 15px 25px 15px;

    &__title {
        font-size: 30px;
        line-height: 36px;
        margin-bottom: 25px;
        font-weight: 400;
        text-align: center;
    }

    &__presentation {
        font-weight: 700;
        color: var(--green33);
        line-height: 36px;
        font-size: 30px;
        text-align: center;

    }

    &__header {
        margin-bottom: 25px;
    }
}
