.dns-settings {
    &__btn-icon {
        transform: rotate(-90deg);
    }

    &__title {
        margin-bottom: 24px;
    }

    &__popular-servers {
        padding-top: 32px;
    }

    &__custom-servers {
        padding-top: 48px;
    }

    &__custom-actions {
        display: flex;
        column-gap: 16px;
    }
}
