.map {
    padding: 20px 0;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.current-status {
    font-size: 18px;
    font-weight: bold;
}

.change-location {
    text-decoration: underline;
}
