.map {
    min-height: 200px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.current-status {
    font-size: 18px;
    font-weight: bold;
}
