.status {
    color: #fff;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;

    &--skeleton {
        cursor: default;

        &__no-locations {
            color: var(--gray-base);
        }
    }
}
