.status {
    color: #fff;
    margin-bottom: 24px;
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;

    &--skeleton {
        cursor: default;
        padding: 0 12px;
    }

    &--no-locations-error {
        color: var(--gray-base);
    }
}
