.status {
    margin-bottom: 25px;

    &__title {
        margin-bottom: 5px;
        font-size: 2.6rem;
        font-weight: 700;
        line-height: 1;
    }

    &__subtitle {
        font-size: 1.6rem;
        line-height: 1.1;
    }
}
