.dns-settings {
    &__btn-icon {
        transform: rotate(-90deg);
    }

    &__custom-btn {
        transition: var(--t3) color;
        color: var(--stroke-icons-gray-icons-default);

        &--edit:hover {
            color: var(--product-primary-50);
        }

        &--basket:hover {
            color: var(--red-50);
        }

        &-icon {
            color: currentColor;
        }
    }

    &__custom-actions {
        display: flex;
        column-gap: 16px;
    }
}