.presentation {
    width: 450px;
    left: calc(50% - 225px);
    border-radius: 0 0 50% 50%;
    top: -55px;
    position: absolute;
    background: var(--presentation-gradient);
    color: #fff;
    text-align: center;

    &__in {
        max-width: 310px;
        margin: 0 auto;
        padding: 35px;
    }

    &__title {
        font-size: 28px;
        font-weight: 700;
    }

    &__desc {
        font-size: 16px;
    }
}
