.status-image {
    margin-bottom: 40px;
    height: 195px;
    background-image: url(../../../../../src/assets/images/disabled.svg);
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    &--enabled {
        background-image: url(../../../../../src/assets/images/enabled.svg);
        background-size: 100% 167px;
        background-position: center 29px;
    }
}
