.social-icons {
    text-align: center;

    &__title {
        color: var(--gray-base);
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 25px;
        text-align: center;
    }

    &__item {
        display: inline-block;
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }
}
