.reset-service-modal {
    &__actions {
        margin-top: 35px;
        display: flex;
        gap: 16px;

        @media (--mobile) {
            flex-direction: column-reverse;

            .button {
                width: 100%;
            }
        }
    }
}
