.reset-service-modal {
    height: 230px;
    min-height: initial !important;

    &__actions {
        margin-top: 35px;

        & .button:first-child {
            margin-right: 20px;
        }
    }
}
