.actions {
    .select__btn {
        column-gap: 4px;
    }

    .select__list {
        /* 9px is design specified value */
        top: calc(100% + 9px);
    }

    .select__item {
        padding: 16px;
    }
}