.actions {
    .select__btn {
        column-gap: 4px;
        color: var(--text-placeholder-placeholder-default);
    }

    .select__list {
        right: 24px;
        width: 180px;
        border-radius: 8;
        box-shadow: var(--small-light-shadow-br);
    }

    .select__item {
        padding: 16px;
        font-size: 14px;
        line-height: 16px;
    }
}