.server-error-modal {
    height: 492px;
    top: 55px;
    padding-top: 38px;
    text-align: center;

    &__image {
        width: 232px;
        margin-bottom: 15px;
    }

    &__info {
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        padding: 0 15px;
        margin-bottom: 30px;
    }

    &__button {
        margin-bottom: 18px;
        padding: 12px 20px;
    }
}
