.children-list {

    &__title {
        display: flex;
        align-items: flex-start;
        margin: 0 0 16px 16px;
    }

    &__add-subdomain {
        cursor: pointer;
        display: flex;
        margin: 16px 0 0 16px;
        padding: 8px 16px;

        &__text {
            font-size: 16px;
            line-height: 24px;
            margin-left: 16px;
        }
    }

    &__reset {
        margin: 16px 0 0 16px;
    }
}
