.children-list {

    &__title {
        display: flex;
        align-items: flex-start;
        margin: 0 0 15px 0;
    }

    &__add-subdomain {
        font-size: 17px;
        margin: 15px 0 0 22px;
        cursor: pointer;

        & .icon--button {
            margin: 0 10px 2px 0;
        }
    }

    &__reset {
        margin: 20px 0 0 15px;
        display: none;
    }
}

.hidden {
    display: none;
}

.visible {
    display: initial;
}
