.stats {
    display: flex;
    justify-content: space-between;
    padding: 20px 25px 20px;
    color: var(--gray-base);
    border-top: 1px solid var(--greyf3);

    &__col {
        max-width: 140px;
        text-align: center;
    }

    &__value {
        font-size: 32px;
        line-height: 38px;
        font-weight: 700;
    }

    &__units {
        font-size: 16px;
    }
}
