/*
  WARNING: This file will be imported on every pcss file, do not
  include any styles here, only pcss utility should be written here.
 */

@custom-media --tablet (max-width: 875px);
@custom-media --tablet-sm (max-width: 600px);
@custom-media --mobile (max-width: 400px);

@custom-media --touch-screen (hover: none);