.help-us-modal {
    .modal__header {
        padding-bottom: 0;
    }

    .modal__description {
        color: var(--text-main-text-main-default);
    }

    &__text {
        margin-top: 0;
        margin-bottom: 1em;
    }

    &__list {
        margin-bottom: 1em;
        padding-left: 1.5em;
    }

    /* To increase selector specificity we add .link */
    &__link.link {
        text-decoration: none;
    }
}

.webrtc-warning {
    color: var(--orange-50);
}
