.confirm-add-modal {
    height: 225px;
    min-height: initial !important;

    &__message {
        height: 70px;
    }

    &__actions {

        & .button:first-child {
            margin-right: 20px;
        }
    }
}
