.confirm-add-modal {
    min-height: initial !important;

    &__message {
        max-width: 420px;
        margin-bottom: 30px;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    &__actions {

        & .button:first-child {
            margin-right: 20px;
        }
    }
}
