.confirm-add-modal {
    min-height: initial !important;

    &__message {
        max-width: 420px;
        margin-bottom: 24px;
        word-break: break-word;
    }

    &__actions {
        display: flex;
        gap: 16px;

        @media (--mobile) {
            flex-direction: column-reverse;

            .button {
                width: 100%;
            }
        }
    }
}
