.settings {
    display: flex;
}

.settings_row {
    flex-direction: row;
}

.settings_col {
    flex-direction: column;
}

.setting {
    padding: 10px 0;
}

.tunnel-switcher {
    display: flex;
    margin: auto;
    justify-content: space-around;
    align-items: center;
    width: 150px;
    align-self: center;
}
