.state-checkbox {
    margin: 0 10px 0 0;
    padding: 0;
    background: none;
    border: none;
    position: relative;
    top: 4px;
    cursor: pointer;
    outline: none;

    &__icon {
        width: 24px;
        height: 24px;
    }
}
