.alert {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    color: #fff;
    background-color: #000;

    &__info {
        line-height: 17px;
        font-size: 14px;
        max-width: 115px;
    }

    &__mark {
        color: var(--pink);
    }

    &__btn {
        padding: 10px 17px;
        text-transform: uppercase;
        font-weight: 700;
        border-radius: 8px;
    }
}