.site-info {
    padding: 0;
    max-width: 100%;
    height: auto;
    margin-top: 100px;

    &__title {
        margin: 0 auto 8px;
        font-size: 2rem;
        font-weight: 700;
        line-height: 1.1;
        color: var(--green76);
        max-width: 85%;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    &__status {
        font-size: 1.4rem;
        line-height: 1.3;
        color: #d8d8d8;
    }
}
