.statebox {
    margin: 0 10px 0 0;
    padding: 0;
    background: none;
    border: none;
    position: relative;
    top: 2px;
    cursor: pointer;

    &__icon {
        width: 24px;
        height: 24px;
    }
}
