.icon {
    display: inline-block;
    vertical-align: middle;

    &--button,
    &--flag {
        width: 24px;
        height: 24px;
        flex-shrink: 0;
    }

    &--logo {
        width: 126px;
        height: 18px;
        color: var(--gray-base);
    }

    &--beta {
        width: 36px;
        height: 18px;
    }

    &--menu {
        width: 36px;
        height: 18px;
    }
}
