.popup_setting {
    padding: 10px 10px;
    cursor: pointer;
}

.options_modal {
    position: absolute;
    top: 40px;
    left: 40px;
    right: 40px;
    background-color: white;
}

.options_modal_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: transparent;
}
