.remove-all-modal {

    &__message {
        margin-bottom: 24px;
        max-width: 480px;
    }

    & .button {
        min-width: 180px;
    }

    & .button--primary {
        background: var(--redDark);

        &:focus,
        &:hover {
            background: var(--red);
        }
    }
}
