.remove-all-modal {

    &__message {
        margin-bottom: 55px;
    }

    & .button {
        margin-right: 20px;
    }

    & .button--primary {
        background: var(--redDark);

        &:hover {
            background: var(--red);
        }
    }
}
