.remove-all-modal {

    &__message {
        margin-bottom: 24px;
        max-width: 420px;
    }

    & .button {
        margin-right: 20px;
        min-width: 180px;
    }

    & .button--primary {
        background: var(--redDark);

        &:hover {
            background: var(--red);
        }
    }
}
