.exclusions {
    &__modal {
        &-description {
            color: var(--text-description-description-default);
        }

        &-actions {
            margin-top: 24px;
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            column-gap: 24px;

            .button {
                flex: 1 1 auto;
            }
        }
    }
}