.fade {
    &-enter {
        opacity: 0;
    }

    &-enter-active {
        opacity: 1;
    }

    &-exit {
        opacity: 1;
    }

    &-exit-active {
        opacity: 0;
    }
}

.slide {
    &-enter {
        transform: translate3d(0, 100%, 0);
    }

    &-enter-active {
        transform: translate3d(0, 0, 0);
    }

    &-exit {
        transform: translate3d(0, 0, 0);
    }

    &-exit-active {
        transform: translate3d(0, 100%, 0);
    }
}
