* {
    box-sizing: border-box;
}

body {
    min-width: 320px;
    height: 600px;
    margin: 0;
    font-family: "Akkurat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.rsm-marker {
    outline: none;
    cursor: pointer;
}
