:root {
    --gray-base: #4d4d4d;
    --gray88: #888888;
    --grayd8 : #d8d8d8;
    --green74: #66b574;
    --green33 :#004C33;
    --greyf3: #f3f3f3;
    --orange: #eb9300;
    --pink: #ff7b7b;
    --red: #df3812;
    --t3: 0.3s ease;
}
