.controls {
    padding: 16px;

    &__content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        column-gap: 16px;
    }

    &__title {
        color: var(--text-main-text-main-default);
        font-size: 16px;
        font-weight: 600;
        line-height: 1.3;
    }

    &__description {
        color: var(--text-description-description-default);
        font-size: 14px;
        line-height: 1.3;
    }
}