.bug-report {
    width: 510px;

    &__form {
        display: flex;
        flex-direction: column;
        padding-top: 16px;
    }

    &__label {
        font-size: 14px;
        color: var(--gray88);
    }
}
