.confirm-email {
    position: absolute;
    width: 282px;
    height: 470px;
    top: 55px;
    padding-top: 30px;
    font-size: 16px;

    &__image {
        width: 120px;
        margin-bottom: 8px;
    }

    &__info {
        padding: 0 16px;
        line-height: 24px;
    }

    &__email {
        font-weight: bold;
        margin-bottom: 30px;
    }

    &__button {
        margin-bottom: 18px;
    }
}
