.title {
    display: inline-flex;
    align-items: center;
    gap: 8px;
}

.flag {
    flex-shrink: 0;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
}
