.root {
    display: flex;
    flex-direction: column;
}

.subtitle {
    margin-top: 4px;
    margin-bottom: 16px;
    font-size: 14px;
    line-height: 20px;
    color: var(--text-description-description-default);
}

.search {
    margin-bottom: 16px;
}

.list {
    display: flex;
    flex-direction: column;
}

.empty {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
    color: var(--text-description-description-default);
}
