.close-button {
    position: absolute;
    top: 17px;
    right: 13px;

    & button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    &__icon {
        width: 24px;
        height: 24px;
    }
}
