.closebutton {
    position: absolute;
    top: 17px;
    right: 15px;

    & button {
        width: 25px;
        height: 25px;
        background-image: url("../../../../assets/images/cross.svg");
        background-color: transparent;
        border: none;
        cursor: pointer;
    }
}
