.actions {
    margin-top: 30px;

    &__add-website {
        border: none;
        background: none;
        color: var(--brand-primary);
        font-size: 16px;
        cursor: pointer;
        margin-left: 15px;

        &:focus {
            outline: none;
        }

        &:hover {
            color: var(--brand-secondary);
        }
    }
}
