.manual-mode {
    text-align: left;
    height: 315px;

    &__actions {
        position: absolute;
        bottom: 30px;

        & button {
            margin-right: 20px;
            text-transform: none;
        }
    }
}
