.manual-mode {
    text-align: left;
    height: 315px;

    &__actions {
        position: absolute;
        bottom: 30px;

        & button {
            text-transform: none;
            margin-bottom: 16px;

            &:first-child {
                margin-right: 20px;
            }
        }
    }
}
