.radio {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    margin-bottom: 30px;

    &__icon {
        flex-shrink: 0;
        width: 24px;
        height: 24px;
        margin: 0 15px 0 0;
        color: var(--green700);
    }

    &__title {
        margin-bottom: 7px;
        font-size: 16px;
    }

    &__description {
        font-size: 1.3rem;
        line-height: 1.1;
        color: var(--gray88);
    }
}
