@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/roboto/regular.woff2") format("woff2"), url("../../assets/fonts/roboto/regular.woff") format("woff");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/roboto/bold.woff2") format("woff2"), url("../../assets/fonts/roboto/bold.woff") format("woff");
    font-weight: 700;
    font-style: normal;
}
