:root {
    --font-stack: "Roboto Flex", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Ubuntu, Arial, sans-serif;
    --t3: 0.3s ease;
    --small-light-shadow-br: 4px 4px 8px 0px rgba(0, 0, 0, 0.10);
    --big-light-shadow-br: 8px 8px 24px 0px rgba(0, 0, 0, 0.10);

    /* Base colors */
    --gray-0: #FFFFFF;
    --gray-10: #F6F6F6;
    --gray-20: #E4E4E4;
    --gray-30: #D2D2D2;
    --gray-40: #C0C0C0;
    --gray-50: #A4A4A4;
    --gray-60: #7F7F7F;
    --gray-70: #5B5B5B;
    --gray-80: #3D3D3D;
    --gray-90: #1F1F1F;
    --gray-100: #000000;
    --red-50: #BF4829;
    --product-primary-40: #67B279;
    --product-primary-50: #74A352;
    --product-primary-50-10: rgb(116, 163, 82, 0.1); /* 10% */
    /* FIXME: I think it's wrong color: 60, 70 */
    --product-primary-60: #5B9F6C;
    --product-primary-60-10: rgba(91, 159, 108, 0.1); /* 10% */
    --product-primary-70: #4E8C5D;

    /* Dynamic colors */
    --text-main-text-main-default: var(--gray-80);
    --text-description-description-default: var(--gray-60);
    --text-placeholder-placeholder-default: var(--gray-50);
    --text-links-link-default: var(--product-primary-50);
    --text-links-error-link-default: var(--red-50);
    --text-labels-labels-default: var(--gray-70);
    --text-labels-labels-disabled: var(--gray-50);
    --text-buttons-main-button-default: var(--gray-0);
    --text-buttons-outline-button-default: var(--text-main-text-main-default);
    --text-buttons-ghost-button-default: var(--text-links-link-default);
    --fills-backgrounds-page-background-default: var(--gray-0);
    --fills-backgrounds-page-background-hovered: var(--gray-10);
    --fills-backgrounds-page-background-pressed: var(--gray-20);
    --fills-backgrounds-page-background-additional-default: var(--gray-10);
    --fills-backgrounds-page-background-additional-hovered: var(--gray-20);
    --fills-backgrounds-dialog-background-default: var(--gray-100);
    --fills-menus-dropdown-menu-background-default: var(--gray-0);
    --fills-menus-dropdown-menu-background-hovered: var(--gray-10);
    --fills-switch-dns-adg-switch-knob-default: var(--gray-0);
    --fills-switch-dns-adg-switch-on-default: var(--product-primary-50);
    --fills-switch-dns-adg-switch-off-default: var(--gray-40);
    --fills-switch-dns-adg-switch-on-hovered: var(--product-primary-60);
    --fills-switch-dns-adg-switch-off-hovered: var(--gray-50);
    --fills-inputs-input-background-default: var(--gray-10);
    --fills-buttons-main-button-default: var(--product-primary-50);
    --fills-buttons-main-button-hovered: var(--product-primary-60);
    --fills-buttons-main-button-pressed: var(--product-primary-70);
    --fills-buttons-outline-button-default: transparent;
    --fills-buttons-outline-button-hovered: var(--fills-backgrounds-page-background-hovered);
    --fills-buttons-outline-button-pressed: var(--fills-backgrounds-page-background-pressed);
    --fills-buttons-ghost-button-default: transparent;
    --fills-buttons-ghost-button-hovered: var(--product-primary-50-10);
    --fills-buttons-ghost-button-pressed: var(--product-primary-60-10);
    --fills-snacks-desktop-snacks-default: var(--gray-10);
    --stroke-icons-gray-icons-default: var(--gray-60);
    --stroke-icons-error-icon-default: var(--red-50);
    --stroke-icons-product-icon-default: var(--product-primary-50);
    --stroke-dividers-item-divider-default: var(--gray-30);
    --stroke-inputs-inactive-input-stroke-default: var(--gray-30);
    --stroke-inputs-inactive-input-stroke-focus: var(--gray-40);

    @media (prefers-color-scheme: dark) {
        --text-main-text-main-default: var(--gray-20);
        --text-description-description-default: var(--gray-40);
        --text-labels-labels-default: var(--gray-30);
        --fills-backgrounds-page-background-default: var(--gray-90);
        --fills-backgrounds-page-background-hovered: var(--gray-80);
        --fills-backgrounds-page-background-pressed: var(--gray-70);
        --fills-backgrounds-page-background-additional-default: var(--gray-80);
        --fills-backgrounds-page-background-additional-hovered: var(--gray-70);
        --fills-menus-dropdown-menu-background-default: var(--gray-80);
        --fills-menus-dropdown-menu-background-hovered: var(--gray-70);
        --fills-switch-dns-adg-switch-on-default: var(--product-primary-40);
        --fills-switch-dns-adg-switch-off-default: var(--gray-70);
        --fills-switch-dns-adg-switch-off-hovered: var(--gray-60);
        --fills-inputs-input-background-default: var(--gray-80);
        --fills-snacks-desktop-snacks-default: var(--gray-90);
        --stroke-icons-gray-icons-default: var(--gray-40);
        --stroke-dividers-item-divider-default: var(--gray-70);
        --stroke-inputs-inactive-input-stroke-default: var(--gray-70);
        --stroke-inputs-inactive-input-stroke-focus: var(--gray-60);
    }
}

.dark-mode {
    --text-main-text-main-default: var(--gray-20);
    --text-description-description-default: var(--gray-40);
    --text-labels-labels-default: var(--gray-30);
    --fills-backgrounds-page-background-default: var(--gray-90);
    --fills-backgrounds-page-background-hovered: var(--gray-80);
    --fills-backgrounds-page-background-pressed: var(--gray-70);
    --fills-backgrounds-page-background-additional-default: var(--gray-80);
    --fills-backgrounds-page-background-additional-hovered: var(--gray-70);
    --fills-menus-dropdown-menu-background-default: var(--gray-80);
    --fills-menus-dropdown-menu-background-hovered: var(--gray-70);
    --fills-switch-dns-adg-switch-on-default: var(--product-primary-40);
    --fills-switch-dns-adg-switch-off-default: var(--gray-70);
    --fills-switch-dns-adg-switch-off-hovered: var(--gray-60);
    --fills-inputs-input-background-default: var(--gray-80);
    --fills-snacks-desktop-snacks-default: var(--gray-90);
    --stroke-icons-gray-icons-default: var(--gray-40);
    --stroke-dividers-item-divider-default: var(--gray-70);
    --stroke-inputs-inactive-input-stroke-default: var(--gray-70);
    --stroke-inputs-inactive-input-stroke-focus: var(--gray-60);
}

.light-mode {
    --text-main-text-main-default: var(--gray-80);
    --text-description-description-default: var(--gray-60);
    --text-labels-labels-default: var(--gray-70);
    --fills-backgrounds-page-background-default: var(--gray-0);
    --fills-backgrounds-page-background-hovered: var(--gray-10);
    --fills-backgrounds-page-background-pressed: var(--gray-20);
    --fills-backgrounds-page-background-additional-default: var(--gray-10);
    --fills-backgrounds-page-background-additional-hovered: var(--gray-20);
    --fills-menus-dropdown-menu-background-default: var(--gray-0);
    --fills-menus-dropdown-menu-background-hovered: var(--gray-10);
    --fills-switch-dns-adg-switch-on-default: var(--product-primary-50);
    --fills-switch-dns-adg-switch-off-default: var(--gray-40);
    --fills-switch-dns-adg-switch-off-hovered: var(--gray-50);
    --fills-inputs-input-background-default: var(--gray-10);
    --fills-snacks-desktop-snacks-default: var(--gray-10);
    --stroke-icons-gray-icons-default: var(--gray-60);
    --stroke-dividers-item-divider-default: var(--gray-30);
    --stroke-inputs-inactive-input-stroke-default: var(--gray-30);
    --stroke-inputs-inactive-input-stroke-focus: var(--gray-40);
}
