.account {
    &__email {
        margin-bottom: 45px;
        font-weight: 700;
    }

    &__actions {
        display: flex;
    }

    &__action {
        margin-right: 30px;

        &:last-child {
            margin-right: 0;
        }
    }
}
