.account {
    &__info {
        padding: 16px 0;
    }

    &__name {
        color: var(--gray88);
        font-size: 14px;
        line-height: 20px;
    }

    &__desc {
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
    }

    &__actions {
        margin-top: 22px;
        display: flex;
    }

    &__action {
        margin-right: 24px;

        &:last-child {
            margin-right: 0;
        }
    }

    &__features {
        padding-top: 80px;
    }
}
