.social-auth {
    position: relative;
    width: 180px;
    height: 20px;
    margin: 0 auto;
    text-align: center;

    &__button {
        display: inline-block;
        vertical-align: middle;
        margin-right: 20px;
        padding: 0;
        width: 20px;
        height: 20px;
        border-radius: 50%;

        &:last-child {
            margin-right: 0;
        }
    }

    &__wrap {
        width: 20px;
        height: 20px;
    }

    &__list {
        flex-shrink: 0;
    }
}
